last_run
.*.sw?
.bundle
.mtn-ignore
_MTN
/corundum
doc/Specifications
doc/coverage
pkg
.yardoc
publish/
yardoc/
gh-pages/
.sass-cache/
errors.err
.cadre/
spec_support/destination/
integration-tests.log
integration-test.log
roadforest.log
rdfa.gif
cpuprofile
cpuprofile.symbols
cpuprofile
cpuprofile.gif
