        - if element == :li
          %li{:rel => rel, :resource => (about || resource), :typeof => typeof, :inlist => inlist}
            - if typeof
              %span.type!= typeof
            %table.properties
              - predicates.each do |predicate|
                != yield(predicate)
        - else
          %td{:rel => rel, :resource => (about || resource), :typeof => typeof, :inlist => inlist}
            - if typeof
              %span.type!= typeof
            %table.properties
              - predicates.each do |predicate|
                != yield(predicate)
