---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0091.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"714c6cc96932e50d8a814801ab249c4d7ba5897c"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html>\n <head>\n      <title>Test 0091</title>\n
        \  </head>\n   <body>\n      <p about=\"[_:human]\">\n         A human is\n
        \        <span property=\":definition\">a bi-pedal primate</span>.\n         They
        are quite possibly one of the most\n         <span property=\":note\">confused
        animal</span>s residing in the \n\t\t <span property=\":foo\">Milky Way</span>.\n
        \     </p>\n   </body>\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:03:32 GMT
recorded_with: VCR 2.8.0
