---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0190.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"08178f220e7e5388e461d1d5ab8ae7157d899afe"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
          <head>
            <title>Test 0190</title>
          </head>
          <body>
            <div about ="http://www.example.org/software">
              <p rel="liCeNse" resource="http://www.w3.org/Consortium/Legal/2002/copyright-software-20021231">Ivan Herman</p>
            </div>
          </body>
        </html>
  recorded_at: Thu, 06 Mar 2014 02:03:38 GMT
recorded_with: VCR 2.8.0
