---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0032.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"914bd1c6291e6d729e4cfe63a83c361cae891f8a"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"dc: http://purl.org/dc/elements/1.1/\">\n\t<head>\n\t\t<title>Test
        0032</title>\n\t</head>\n  <body>\n  \t<p about=\"#wtw\">\n  \t  The book
        <b>Weaving the Web</b> (hardcover) has the ISBN\n  \t  <a rel=\"dc:identifier\"
        resource=\"urn:ISBN:0752820907\" \n  \t  href=\"http://www.amazon.com/Weaving-Web-Tim-Berners-Lee/dp/0752820907\">0752820907</a>.\n
        \ \t</p>\n  </body>\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:03:23 GMT
recorded_with: VCR 2.8.0
