---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0214.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f12bf3065637a156c7797389c63b985148265e35"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html typeof="foaf:Document">
        <head>
           <title property="dc:title">Test 0214</title>
        </head>
        <body>
           <p>This document has a title.</p>
        </body>
        </html>
  recorded_at: Thu, 06 Mar 2014 02:03:40 GMT
recorded_with: VCR 2.8.0
