---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0104.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"a5918828c51e0927bc34e4aef938e03b54431601"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
        example: http://www.example.org/\">\n  <head>\n\t<title>Test 0104</title>\n
        \ </head>\n  <body>\n  \t<p>\n    \tThe word \"interfenestration\" has \n
        \   \t<span about=\"#interfenestration\" rel=\"example:size\">\n            <span
        property=\"rdf:value\">17</span>\n            <span property=\"example:unit\">character</span>s.\n
        \   \t</span>\n\t</p>\n  </body>\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:03:32 GMT
recorded_with: VCR 2.8.0
