---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0322.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"01807c067881f0238af8f3d935eb9176755c0103"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <title>Test 0322</title>
        </head>
        <body vocab="http://schema.org/">
          <div typeof="Person">
            <p>My name is <span property="name">Gregg</span></p>
            <link property="rdfa:copy" resource="_:surname"/>
          </div>
          <p resource="_:surname" typeof="rdfa:Pattern">My name is <span property="name">Kellogg</span></p>
        </body>
        </html>
  recorded_at: Thu, 06 Mar 2014 02:03:56 GMT
recorded_with: VCR 2.8.0
