---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0327.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"a02b8a0293b51481236dc55c3512dd3856d893ab"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <base href="http://example.com/"/>
          <title>Test 0327</title>
        </head>
        <body>
          <div typeof="schema:Person">
            <link property="rdfa:copy" resource="_:a"/>
            <link property="rdfa:copy" resource="_:b"/>
          </div>
          <p resource="_:a" typeof="rdfa:Pattern">Name: <span property="schema:name">Amanda</span></p>
          <div resource="_:b" typeof="rdfa:Pattern">
            <div property="schema:band" typeof=" schema:MusicGroup">
              <link property="rdfa:copy" resource="_:c"/>
            </div>
          </div>
          <div resource="_:c" typeof="rdfa:Pattern">
           <p>Band: <span property="schema:name">Jazz Band</span></p>
           <p>Size: <span property="schema:size">12</span> players</p>
          </div>
        </body>
        </html>
  recorded_at: Thu, 06 Mar 2014 02:03:57 GMT
recorded_with: VCR 2.8.0
