---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0197.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"57d5abb3b4e37a477bed5527a28ad921bd974687"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"dc: http://purl.org/dc/terms/\">\n<head>\n\t<title>Test
        0197</title>\n\t<base href=\"http://www.example.org/me\" />\n</head>\n<body>\n
        \ <p about=\"\" typeof=\"class/Person\" property=\"pred/name\">Gregg Kellogg</p>\n
        \ <p property=\"dc:language\" datatype=\"pred/lang\">Ruby</p>\n  <p rel=\"pred/rel\"
        resource=\"http://kellogg-assoc.com/\">Kellogg Associates</p>\n  <p rev=\"pred/rev\"
        resource=\"http://github.org/gkellogg/rdf_context\">Ruby Gem</p>\n</body>\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:03:39 GMT
recorded_with: VCR 2.8.0
