---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0072.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ebbd827e304da11f96ab49a80f063df9f3b68597"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html prefix="dc: http://purl.org/dc/elements/1.1/">
           <head>
              <base href="http://www.example.org/"/>
              <title>Test 0072</title>
           </head>
           <body>
              <p about="faq">
                 Learn more by reading the example.org
                 <span property="dc:title">Example FAQ</span>.
              </p>
           </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:48:14 GMT
recorded_with: VCR 2.8.0
