---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0331.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"04572ec6e6f1571a78b54664ad758e85012be48f"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html prefix="dcterms: http://purl.org/dc/terms/">
        <head>
           <title>Test 0331</title>
        </head>
        <body lang="en">
          <div property="dcterms:language" datatype="dcterms:RFC5646" content="af">Afrikaans</div>
        </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:49:36 GMT
recorded_with: VCR 2.8.0
