---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0299.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"a5f9983b0859e4d1c867a2d3fb6b6ab47de6a2c8"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <title>Test 0299: Testing @resource=[]</title>
        </head>
        <body about="http://www.example.org/">
          <a href="http://www.example.org/license.xhtml" rel="xhv:license" resource="[]">The Foo Document</a>
        </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:49:28 GMT
recorded_with: VCR 2.8.0
