---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0196.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"9c5c23ad99bd27ccd37092fb251a7d9ac0e6e2a3"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"ex: http://example.org/rdf/ rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#\">\n<head>\n\t<title>Test
        0196</title>\n</head>\n<body>\n\t<div about=\"http://www.example.org\">\n
        \   <p property=\"ex:xmllit\" datatype=\"rdf:XMLLiteral\">This is an XMLLiteral</p>\n
        \   <p property=\"ex:plainlit\">This is a <em>plain</em> literal</p>\n</div>\n</body>\n</html>"
  recorded_at: Sun, 29 Dec 2013 23:48:47 GMT
recorded_with: VCR 2.8.0
