---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0323.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"073b6ca80e79f794aedbe8664b7369fa19ba7759"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <title>Test 0323</title>
        </head>
        <body>
          <div typeof="schema:Person">
            <link property="rdfa:copy" resource="_:a"/>
          </div>
          <div typeof="foaf:Person">
            <link property="rdfa:copy" resource="_:a"/>
          </div>
          <p resource="_:a" typeof="rdfa:Pattern">Name: <span property="schema:name foaf:name">Amanda</span></p>
        </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:49:33 GMT
recorded_with: VCR 2.8.0
