---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0025.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"557e584b30c07726bea58b5c0171350db4d356b4"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"dc: http://purl.org/dc/elements/1.1/
        foaf: http://xmlns.com/foaf/0.1/\">\n  <head>\n\t<title>Test 0025</title>\n
        \ </head>\n  <body>\n  \t<p>\n    \tThis paper was written by\n    \t<span
        rel=\"dc:creator\" resource=\"#me\">\n      \t\t<span property=\"foaf:name\">Ben
        Adida</span>.\n    \t</span>\n\t</p>\n  </body>\n\n\n</html>"
  recorded_at: Sun, 29 Dec 2013 23:47:59 GMT
recorded_with: VCR 2.8.0
