---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0276.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"a708bc7f5695712384bab9c77081cd85e2cd8d4c"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <title>Test 0275</title>
        </head>
        <body>
          <time property="rdf:value">00:00:00</time>
        </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:49:20 GMT
recorded_with: VCR 2.8.0
