---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0206.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"83140f4900bd625798fae77fda6fbe1c8060419c"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html>\n<head>\n   <title>Default context test 0206</title>\n</head>\n<body>\n\t<p
        about =\"xsd:maxExclusive\" rel=\"rdf:type\" resource=\"owl:DatatypeProperty\">\n\t
        \   An OWL Axiom: \"xsd:maxExclusive\" is a Datatype Property in OWL.\n\t</p>\n</body>\n\n</html>"
  recorded_at: Sun, 29 Dec 2013 23:48:48 GMT
recorded_with: VCR 2.8.0
