---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0332.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"a14cb5030fdd594868334d57d3c450046ac73ae2"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html prefix="dcterms: http://purl.org/dc/terms/">
        <head>
           <title>Test 0332</title>
        </head>
        <body lang="en">
          <div property="dcterms:language" datatype="" content="af">Afrikaans</div>
        </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:49:37 GMT
recorded_with: VCR 2.8.0
