---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0186.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d470e071f891412749bed3dd72088e9036f60ebf"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <title>Test 0186</title>
          <base href="http://example.org/"/>
        </head>
        <body>
          <div about ="#me" vocab="http://xmlns.com/foaf/0.1/" >
            <p property="name">Ivan Herman</p>
          </div>
        </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:48:41 GMT
recorded_with: VCR 2.8.0
