%div.property
  = rdfpost_curie("p", predicate)
  - objects.each do |object|
    - if object.is_subject?
      = rdfpost_curie("o", object.subject)
    - elsif object.attrs.empty?
      = yield(object)
    - else
      %label{object.label_attrs}
        %span= get_predicate_name(predicate)
        %input{object.input_attrs(yield(object))}
      - if(object.type_uri)
        %input{type: "hidden", name: "lt", value: object.type_uri}
