/ Affordance subject
- if typeof
  %span.type!= typeof
%input{type: "hidden", name: "rdf"}
- prefixes.each do |name, target|
  - unless name.nil? or name.empty?
    %input{type: "hidden", name: "n"}= name
  %input{type: "hidden", name: "v"}=target

- predicates.each do |predicate|
  != yield(predicate)
