!!! XML
!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => lang, :prefix => prefix}
  - if base || title
    %head
      - if base
        %base{:href => base}
      - if title
        %title= title
  %body
    - subjects.each do |subject|
      - if subject.respond_to? :affordance?
        %form{subject.attrs}
          %input{type: "hidden", name: "rdf"}
          - prefixes.each do |name, target|
            - unless name.nil? or name.empty?
              %input{type: "hidden", name: "n"}= name
            %input{type: "hidden", name: "v"}=target

          != yield(subject)
      - else
        %div{subject.attrs}
          != yield(subject)
