---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0259.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f341141b601267eb91f4c8dab835098bd70dfd01"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <title>Test 0259</title>
        </head>
        <body>
          <div>
            Vocabulary Prefixes
            <span property="grddl:">GRDDL</span>
            <span property="ma:">MA</span>
            <span property="owl:">OWL</span>
            <span property="rdf:">RDF</span>
            <span property="rdfa:">RDFa</span>
            <span property="rdfs:">RDFS</span>
            <span property="rif:">RIF</span>
            <span property="skos:">SKOS</span>
            <span property="skosxl:">SKOS-XL</span>
            <span property="wdr:">WDR</span>
            <span property="void:">VOID</span>
      [...]
