---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0018.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"adf715dfd995f0e8d927e7349268f9d24a9e9c2b"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"dc: http://purl.org/dc/elements/1.1/\">\n
        \ <head>\n\t<title>Test 0018</title>\n  </head>\n  <body>\n  \t<p>\n\t  This
        photo was taken by\n\t  <a about=\"photo1.jpg\" rel=\"dc:creator\"\n\t\t href=\"http://www.blogger.com/profile/1109404\">Mark
        Birbeck</a>.\n\t</p>\t \n  </body>\n\n\n</html>"
  recorded_at: Sun, 29 Dec 2013 23:49:41 GMT
recorded_with: VCR 2.8.0
