---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0321.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5eae37ea79abcd19adeedb96942367efb9318684"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <title>Test 0321</title>
        </head>
        <body vocab="http://schema.org/">
          <div typeof="Person">
            <link property="rdfa:copy" resource="_:a"/>
          </div>
          <p resource="_:a" typeof="rdfa:Pattern">Name: <span property="name">Amanda</span></p>
        </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:50:57 GMT
recorded_with: VCR 2.8.0
