---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0272.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b4f0a91f10d146e6049da9526aa0104bb219dcf9"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <title>Test 0272</title>
        </head>
        <body>
          <time property="rdf:value" datetime="2012-03-18">18 March 2012</time>
        </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:50:45 GMT
recorded_with: VCR 2.8.0
