---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0207.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7507841dd7ab1523a5e6c0716a21e62cbfd191b1"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"cal: http://www.w3.org/2002/12/cal/icaltzd#
        xsd: http://www.w3.org/2001/XMLSchema#\">\n<head>\n   <title>Test 0207</title>
        \   \n</head>\n   <body>\n   <p about=\"#event1\" typeof=\"cal:Vevent\">\n
        \      <b property=\"cal:summary\">Weekend off in Iona</b>: \n       <span
        property=\"cal:dtstart\" content=\"2006-10-21\" datatype=\"xsd:date\">Oct
        21st</span>\n       to <span property=\"cal:dtend\" content=\"2006-10-23\"
        \ datatype=\"xsd:date\">Oct 23rd</span>.\n       See <a rel=\"cal:url\" href=\"http://freetime.example.org/\">FreeTime.Example.org</a>
        for\n       info on <span property=\"cal:location\">Iona, UK</span>.\n   </p>\n</body>\n</html>"
  recorded_at: Sun, 29 Dec 2013 23:50:22 GMT
recorded_with: VCR 2.8.0
