---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0290.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"cffa98a7655c69ae2aff4993bd3454c42dbb4c0f"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <title>Test 0290</title>
        </head>
        <body>
          <h1>@href becomes subject when @property and @datatype are present</h1>
          <a href="http://example.org/" property="rdf:value" datatype="">value</a>
        </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:50:50 GMT
recorded_with: VCR 2.8.0
