---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0059.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"9188b2188ada10b3b34cd44065ee6319805e516a"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html prefix="dc: http://purl.org/dc/elements/1.1/ foaf: http://xmlns.com/foaf/0.1/">
          <head>
            <title>Test 0059</title>
          </head>
          <body>
            <p>This document was authored and published by:</p>
            <ul rel="dc:creator dc:publisher">
              <li about="http://www.example.org/#manu" property="foaf:name">Manu Sporny</li>
              <li about="http://www.example.org/#fabien" property="foaf:name">Fabien Gandon</li>
            </ul>
          </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:49:53 GMT
recorded_with: VCR 2.8.0
