---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0017.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6adf036e902992ed50909c3c7b731c3b859eebae"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"foaf: http://xmlns.com/foaf/0.1/\">\n
        \ <head>\n\t<title>Test 0017</title>   \n  </head>\n  <body>\n  \t <p>\n          <span
        about=\"[_:a]\" property=\"foaf:name\">Manu Sporny</span>\n           <span
        about=\"[_:a]\" rel=\"foaf:knows\"\nresource=\"[_:b]\">knows</span>\n           <span
        about=\"[_:b]\" property=\"foaf:name\">Ralph Swick</span>.\n        </p>\n
        \ </body>\n</html>"
  recorded_at: Sun, 29 Dec 2013 23:49:41 GMT
recorded_with: VCR 2.8.0
