---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0126.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"76aae5bb7255b64ff524809d3be69a6d9cca3a6a"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html prefix="dct: http://purl.org/dc/terms/ sioc: http://rdfs.org/sioc/ns# foaf: http://xmlns.com/foaf/0.1/">
            <head>
              <title>Test 0126</title>
            </head>
            <body>
              <div about="http://www.example.org/#article" typeof="foaf:Document sioc:Post">
                <h1 property="dct:title">My article</h1>
              </div>
            </body>
        </html>
  recorded_at: Thu, 06 Mar 2014 02:04:28 GMT
recorded_with: VCR 2.8.0
