---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0023.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b0558f874c961daf13da3e6ab70ffa79bec21251"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"dc: http://purl.org/dc/elements/1.1/\">\n
        \ <head>\n\t<title>Test 0023</title>\n  </head>\n  <body>\n    <div id=\"photo1\">\n
        \     \tThis photo was taken by\n        <span property=\"dc:creator\">Mark
        Birbeck</span> \n    </div>\n  </body>\n\n\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:04:15 GMT
recorded_with: VCR 2.8.0
