---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0088.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f90d7e52b9b6d20b31d1c27ff9b380864f2ee462"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"foaf: http://xmlns.com/foaf/0.1/\">\n
        \ <head>\n\t\t<title>Test 0088</title>    \n  </head>\n  <body>\n\t<div about
        =\"http://www.example.org/#somebody\" rel=\"foaf:knows\">\n\t    <p about=\"[_:]\"
        property=\"foaf:name\">Dan Brickley</p>\n\t    <p about=\"[_:]\" typeof=\"foaf:Person\">Dan
        Brickley again:-)</p>\n\t</div>\n  </body>\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:04:24 GMT
recorded_with: VCR 2.8.0
