---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0089.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3bedbc047c43b7b5f959403b045550246976b2c4"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"foaf: http://xmlns.com/foaf/0.1/\">\n
        <head>\n      <title>Test 0089</title>\n   </head>\n   <body>\n      <div>\n
        \     \t<img src=\"http://example.org/example.png\" typeof=\"foaf:Image\"
        alt=\"example image\" />\n      </div>\n   </body>\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:04:25 GMT
recorded_with: VCR 2.8.0
