- if heading_predicates.include?(predicate) && object.literal?
  %h1{object.simple_attrs}= escape_entities(get_value(object.object))
- else
  %div.property
    %span.label
      = get_predicate_name(predicate)
    - if object.is_subject?
      %div{object.attrs}= yield object
    - elsif object.attrs.empty?
      = yield object
    - else
      %span{object.attrs}<= yield object
