- if element == :li
  %li{:rel => rel, :resource => (about || resource), :typeof => typeof, :inlist => inlist}
    - if typeof
      %span.type!= typeof
    - predicates.each do |predicate|
      != yield(predicate)
- else
  %div{:rel => rel, :resource => (about || resource), :typeof => typeof, :inlist => inlist}
    - if typeof
      %span.type!= typeof
    - predicates.each do |predicate|
      != yield(predicate)
