---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0051.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"349ff6da4a1110fd3ca56bf6f5b74c7eec3b9618"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"foaf: http://xmlns.com/foaf/0.1/\">\n
        \ <head>\n\t\t<title>Test 0051</title>    \n  </head>\n  <body>\n  \t<p about=\"\"
        typeof=\"foaf:Document\" property=\"foaf:topic\">John Doe</p>\n  </body>\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:05:12 GMT
recorded_with: VCR 2.8.0
