---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0069.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bce7b79b484cffe26baa67d51cdb3d6f2a89bad6"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html prefix="xhv: http://www.w3.org/1999/xhtml/vocab#">
           <head>
              <title>Test 0069</title>
           </head>
           <body>
              <p>The next test will be
                 <a about="" rel="xhv:next" href="0070.html">Test 0070</a>.
              </p>
           </body>
        </html>
  recorded_at: Thu, 06 Mar 2014 02:05:15 GMT
recorded_with: VCR 2.8.0
