---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0325.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1b87f1dc881ac7c9e5e6dbc4414544fa4172e959"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <base href="http://example.org/"/>
          <title>Test 0325</title>
        </head>
        <body vocab="http://schema.org/">
          <div resource="#foo" typeof=""><link property="rdfa:copy" resource="_:a"/></div>
          <div resource="#bar" typeof=""><link property="rdfa:copy" resource="_:a"/></div>
          <div resource="_:a" typeof="rdfa:Pattern">
            <div property="schema:refers-to" typeof="">
              <span property="schema:name">Amanda</span>
            </div>
          </div>
        </body>
        </html>
  recorded_at: Thu, 06 Mar 2014 02:05:58 GMT
recorded_with: VCR 2.8.0
