---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0029.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"873b82e994e7315549fba9e144f6e041dc6e31b4"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"dc: http://purl.org/dc/elements/1.1/
        xsd: http://www.w3.org/2001/XMLSchema#\">\n  <head>\n   <title>Test 0029</title>\n
        \ </head>\n  <body>\n  \t<p>\n    \t<span \tabout=\"http://example.org/foo\"\n\t
        \     \t\tproperty=\"dc:creator\" datatype=\"xsd:string\"><b>M</b>ark <b>B</b>irbeck</span>.\n\t</p>\t
        \ \n  </body>\n\n\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:05:09 GMT
recorded_with: VCR 2.8.0
