---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0030.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f17b0ee63bdda7d77e89dc8c598720d8768f4403"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"cc: http://creativecommons.org/ns#\">\n\t<head>\n\t\t<title>Test
        0030</title>\n\t</head>\n  <body>\n  \t<p>This document is licensed under
        a\n  \t\t<a \trel=\"cc:license\"\n    \t\thref=\"http://creativecommons.org/licenses/by-nc-nd/2.5/\">\n
        \      \t\tCreative Commons License\n  \t\t</a>.\n  \t</p>\t\n  </body>\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:05:10 GMT
recorded_with: VCR 2.8.0
