---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0254.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"45df5a38e3bdba4952fec7505b0b8aecfddab6c0"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"ex: http://example.org/terms#\">\n<head>
        \n   <title>Test 0254</title> \n   <base href=\"http://example.org/\"/> \n</head>
        \n<body lang=\"en\"> \n   <p property=\"ex:prop\" datatype=\"\">A <strong>plain
        literal</strong> with a lang tag.</p> \n</body>\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:05:32 GMT
recorded_with: VCR 2.8.0
