---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0330.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"600298619e8ee7e2c34b5155d2648af77a947696"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html prefix="dcterms: http://purl.org/dc/terms/ xsd: http://www.w3.org/2001/XMLSchema#">
        <head>
           <title>Test 0330</title>
        </head>
        <body lang="en">
          <div property="dc:date" datatype="xsd:date">2010-11-12</div>
        </body>
        </html>
  recorded_at: Thu, 06 Mar 2014 02:05:59 GMT
recorded_with: VCR 2.8.0
