---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0117.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"50d35d807fee2f9e1ad6d0923b525eebe5e6ce26"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"dc: http://purl.org/dc/elements/1.1/\">\n
        \  <head>\n      <base href=\"http://www.example.org/tc117.xhtml#fragment\"/>\n
        \     <title property=\"dc:title\">Test 0117</title>\n   </head>\n   <body>\n
        \     <p>\n\t\t<span property=\"dc:contributor\">Mark Birbeck</span>\n         added
        this triple test.\n      </p>\n   </body>\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:05:21 GMT
recorded_with: VCR 2.8.0
