---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0026.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4f78019accb74acd51c2574e190ba79c9b5ebb65"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"dc: http://purl.org/dc/elements/1.1/\">\n
        \ <head>\n\t<title>Test 0026</title>\n  </head>\n  <body>\n  \t<p>\n\t\t<span
        \tabout=\"http://internet-apps.blogspot.com/\"\n\t      \t\tproperty=\"dc:creator\"
        content=\"Mark Birbeck\"></span>\n\t</p>\t\n  </body>\n\n\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:05:09 GMT
recorded_with: VCR 2.8.0
