---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0293.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ec1bf58f9ac169bd4e1f7c925bdad902dff9e646"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <title>Test 0293</title>
        </head>
        <body>
          <h1>Testing the ':' character usage in a CURIE</h1>
          <div prefix="ex: http://www.example.org/">
             <p about="http://www.example.org" property="ex:column:test">Test</p>
          </div>
        </body>
        </html>
  recorded_at: Thu, 06 Mar 2014 02:05:39 GMT
recorded_with: VCR 2.8.0
