---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0067.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"9bc9bb4a2ccfc76614f5f875c781b57805c96ae8"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html prefix="foaf: http://xmlns.com/foaf/0.1/">
           <head>
              <title property="foaf:topic">Test 0067</title>
           </head>
           <body>
              <p>This is test #67.</p>
           </body>
        </html>
  recorded_at: Thu, 06 Mar 2014 02:05:15 GMT
recorded_with: VCR 2.8.0
