---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0273.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3f9c811909d840e6872a1ec5db4ddc40e19e850d"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <title>Test 0273</title>
        </head>
        <body>
          <time property="rdf:value" datetime="00:00:00">midnight</time>
        </body>
        </html>
  recorded_at: Thu, 06 Mar 2014 02:05:36 GMT
recorded_with: VCR 2.8.0
