---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0107.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d91352d0b9087f93c271434ab8bec5049f12160a"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"ex: http://example.org/\">\n  <head>\n\t<title>Test
        0107</title>\n  </head>\n  <body>\n  \t  <div rel=\"next\"></div>\n  </body>\n</html>"
  recorded_at: Thu, 06 Mar 2014 02:05:19 GMT
recorded_with: VCR 2.8.0
