---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0068.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"eb12666bf72abb764f0c3d8dc13875a2018e19b3"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html prefix="dc: http://purl.org/dc/elements/1.1/">
           <head>
              <title>Test 0068</title>
           </head>
           <body>
              <p about="0067.html">
                 The previous test was
                 <span property="dc:title">Test 0067</span>.
              </p>
           </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:51:25 GMT
recorded_with: VCR 2.8.0
