---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0231.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5d313ac6f9239b18af6f56a0f0eaa37bd1057b65"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <title>Test 0231</title>
        </head>
        <body>
          <div about="http://creativecommons.org/licenses/by-nc-sa/2.0/" rev="license">
            <img src="http://example.org/example.png" alt="example image" />
          </div>
        </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:51:50 GMT
recorded_with: VCR 2.8.0
