---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0111.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f55922d2297bb6c1ef3fba48064c622e7e1ebd98"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html prefix="xhv: http://www.w3.org/1999/xhtml/vocab#">
          <head>
            <title>Test 0111</title>
          </head>
          <body>
            <div rel="xhv:next">
              <div rel="xhv:next">
                <div rel="xhv:next"></div>
              </div>
            </div>
          </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:51:33 GMT
recorded_with: VCR 2.8.0
