---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0266.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"51610a19f550245bcb8973951ffa861a5c9bec7d"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html>\n<head>\n\t<title>Test 0266</title>\n</head>\n<body>\n
        \ <div about=\"http://www.w3.org/Person/Ivan#me\">\n     <a href=\"http://www.ivan-herman.net/foaf#me\"
        typeof=\"foaf:Person\" property=\"owl:sameAs\">Ivan Herman</a>\n  </div>\n</body>\n</html>"
  recorded_at: Sun, 29 Dec 2013 23:51:57 GMT
recorded_with: VCR 2.8.0
