---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0289.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"95ec2a601848efa7ff6cff635cdca6b8b6d2de31"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
          <title>Test 0289</title>
        </head>
        <body>
          <h1>@href becomes subject when @property and @content are present</h1>
          <a href="http://example.org/" property="rdf:value" content="value">ignored</a>
        </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:52:11 GMT
recorded_with: VCR 2.8.0
