---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0291.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"2dde7153633b92cf542ad2a9751bc4861dda38c1"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html prefix="rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#">
        <head>
          <title>Test 0291</title>
        </head>
        <body>
          <h1>@href as subject overridden by @about</h1>
          <a about="http://example.net/" href="http://example.org/" property="rdf:value" content="value">ignored</a>
        </body>
        </html>
  recorded_at: Sun, 29 Dec 2013 23:52:12 GMT
recorded_with: VCR 2.8.0
