---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0176.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"488b3cae623e0a7f30d315f49bcc5fa67fdd76d9"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html prefix="foaf: http://xmlns.com/foaf/0.1/">
          <head>
            <title>Test 0176</title>
          </head>
            <body>
            <div about="_:manu">
              Manu can be reached via
              <a rel="http://xmlns.com/foaf/0.1/mbox" href="mailto:manu.sporny@digitalbazaar.com">email</a>.
              <span rel="http://xmlns.com/foaf/0.1/knows" resource="_:gregg">He knows Gregg.</span>
              <span rev="http://xmlns.com/foaf/0.1/knows" resource="_:gregg">Who knows Manu.</span>
            </div>

            <div about="_:gregg">
              Gregg can be reached via
              <a rel="http://xmlns.com/foaf/0.1/mbox" href="mailto:gregg@kellogg-assoc.com">email</a>.
            </div>
          </body>


        </html>
  recorded_at: Sun, 29 Dec 2013 23:51:39 GMT
recorded_with: VCR 2.8.0
