---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0118.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8d5b340f3cc6d2847fa4349fd5865433407d97be"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html prefix="dc: http://purl.org/dc/elements/1.1/">
           <head>
              <title>Test 0118</title>
           </head>
           <body>
              <p>
                 Check to see if parsers get confused when "" is
                 interpreted as NULL in some chaining cases.
                 <a href="http://example.org/ben.html"><span
                    about="" property="dc:creator">Ben</span></a>
              </p>
           </body>

        </html>
  recorded_at: Sun, 29 Dec 2013 23:51:35 GMT
recorded_with: VCR 2.8.0
