---
http_interactions:
- request:
    method: get
    uri: http://rdfa.info/test-suite/test-cases/rdfa1.1/html5/0213.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"fc83de37455f186adcdda3c4d80d3e558ce1a3e4"'
      Status:
      - '200'
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html prefix=\"dc: http://purl.org/dc/elements/1.1/\">\n
        \ <head>\n\t<title>Test 0213</title>\n  </head>\n  <body>\n    <!-- In RDFa
        1.1, by default a plain literal is generated even if it contains XML elements
        -->\n  \t<div about=\"http://www.example.org/\">\n      <h2 property=\"dc:title\">E
        = mc<sup>2</sup>: The Most Urgent Problem of Our Time</h2>\n\t</div>\n  </body>\n\n</html>"
  recorded_at: Sun, 29 Dec 2013 23:51:44 GMT
recorded_with: VCR 2.8.0
